accounts:
  - account_full_name: {{ DeploymentAccountFullName }}
    organizational_unit_path: /deployment
    email: {{ DeploymentAccountEmailAddress }}
    allow_billing: True
    delete_default_vpc: False
    alias: deployment
    tags:
      - created_by: adf
