roles:
  cross-account-access: {{ CrossAccountAccessRole }}
  # ^ The role by ADF to assume cross account access

regions:
  deployment-account: {{ DeploymentAccountRegion }}
  # ^ The region you define as your main deployment region
  targets: # A list of regions you wish to bootstrap and also deploy into via pipelines
    {%- for Region in TargetRegions %}
    - {{ Region }}
    {%- endfor %}
config:
  main-notification-endpoint:
    - type: {{ NotificationEndpointType }}  # slack or email
      target: {{ NotificationEndpoint }}
      # ^ Email/Slack channel who receives notifications for the main bootstrapping pipeline
  protected:
    {%- for OU in ProtectedOUs %}
    - {{ OU }}
    {%- endfor %}
  moves:
    - name: to-root
      action: safe  # Can be safe or remove-base
  scp:
    keep-default-scp: enabled
    # ^ Determines if the default AWSFullAccess SCP stays attached to all OU's
  scm:
    auto-create-repositories: enabled
    default-scm-branch: main
  deployment-maps:
    allow-empty-target: "False"
    # ^ Needs to be "True" or "False". Defaults to "False" when not set.
  #org:
    # Optional: Use this variable to define the AWS Organization in case of staged multi-organization ADF deployments
    #stage: dev
