AWSTemplateFormatVersion: '2010-09-09'
Description: ADF CloudFormation Template For CodePipeline - Github Source and CloudFormation Deployment Target
Parameters:
  ProjectName:
    Description: Name of the Project
    Type: String
  Image:
    Description: The Image for CodeBuild to use
    Type: String
    Default: "aws/codebuild/python:3.7.1"
  StackPrefix:
    Description: Prefix to prepend to the stackname when deployed
    Type: String
    Default: adf
  ScheduleExpression:
    Description: The Schedule expression for this pipeline
    Type: String
    Default: ''
  NotificationEndpoint:
    Description: The Email Address / Slack channel notifications will go to for changes related to this pipeline
    Type: String
    Default: ''
  ComputeType:
    Description: The ComputeType for CodeBuild
    Type: String
    Default: "BUILD_GENERAL1_SMALL"
  WebhookSecret:
    Description: Webhook Secret from Github
    Type: AWS::SSM::Parameter::Value<String>
    NoEcho: true
    Default: /tokens/webhook/github
  OAuthToken:
    Description: OAuthToken from Github
    Type: AWS::SSM::Parameter::Value<String>
    NoEcho: true
    Default: /tokens/oauth/github
  Owner:
    Description: The owner of the github Repo
    Type: String
  BranchName:
    Description: Branch to trigger the pipeline from
    Type: String
    Default: "master"
  RestartExecutionOnUpdate:
    Description: If the pipeline will automatically trigger based on update
    Type: String
    Default: False
{% for region in regions %}
  S3Bucket{{ region|replace("-", "") }}:
    Description: The S3 Bucket for Cross region deployment for {{ region }}
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cross_region/s3_regional_bucket/{{ region }}
  KMSKey{{ region|replace("-", "") }}:
    Description: The KMSKey Arn for Cross region deployment for {{ region }}
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cross_region/kms_arn/{{ region }}
{% endfor %}
Conditions:
  HasSchedule: !Not [!Equals [!Ref ScheduleExpression, '']]
Resources:
  CronCloudwatchEventsRule:
    Type: "AWS::Events::Rule"
    Condition: HasSchedule
    Properties: 
      Description: !Sub Triggers ${AWS::StackName} on a Schedule
      ScheduleExpression: !Ref ScheduleExpression
      Targets:
        - Arn: !GetAtt CronLambdaFunction.Arn
          Id: !Sub "adf-cron-${AWS::StackName}"
  CronLambdaFunction:
    Type: 'AWS::Lambda::Function'
    Condition: HasSchedule
    Properties:
      Code:
        ZipFile: !Sub |
          import boto3
          def handler(event, _):
            client = boto3.client('codepipeline', region_name="${AWS::Region}")
            client.start_pipeline_execution(name="${AWS::StackName}")
      Handler: 'index.handler'
      FunctionName: !Sub "adf-cron-pipeline-${AWS::StackName}"
      Description: !Sub "ADF Lambda Function - Cron ${AWS::StackName}"
      MemorySize: 128
      Role: !GetAtt CronLambdaRole.Arn
      Runtime: 'python3.7'
      Timeout: 60
  CronPermissionForEventsToInvokeLambda: 
    Type: AWS::Lambda::Permission
    Condition: HasSchedule
    Properties: 
      FunctionName: !Ref CronLambdaFunction
      Action: "lambda:InvokeFunction"
      Principal: "events.amazonaws.com"
      SourceArn: !GetAtt CronCloudwatchEventsRule.Arn
  CronLambdaRole:
    Type: "AWS::IAM::Role"
    Condition: HasSchedule
    Properties:
      RoleName: !Sub "adf-cron-lambda-role-${AWS::StackName}"
      AssumeRolePolicyDocument: 
        Version: "2012-10-17"
        Statement: 
          - Effect: "Allow"
            Principal: 
              Service: 
                - "lambda.amazonaws.com"
            Action: 
              - "sts:AssumeRole"
      Path: "/"
      Policies: 
        - PolicyName: "adf-lambda-execution-role"
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - Effect: "Allow"
                Resource: !Sub "arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${Pipeline}"
                Action: 
                  - "codepipeline:StartPipelineExecution"
              - Effect: "Allow"
                Resource: "arn:aws:logs:*:*:*"
                Action: "logs:*"
              - Effect: "Allow"
                Resource: "*"
                Action: 
                  - "lambda:GetAccountSettings"
                  - "lambda:ListFunctions"
                  - "lambda:ListTags"
                  - "lambda:GetFunction"
                  - "lambda:GetEventSourceMapping"
                  - "lambda:ListEventSourceMappings"
                  - "lambda:DeleteEventSourceMapping"
                  - "lambda:UpdateEventSourceMapping"
                  - "lambda:CreateEventSourceMapping"
                  - "iam:ListRoles"
                Condition:
                  StringEquals:
                    lambda:FunctionArn: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-cron-pipeline-${AWS::StackName}"
  Webhook:
    Type: 'AWS::CodePipeline::Webhook'
    Properties:
      AuthenticationConfiguration:
        SecretToken: !Ref WebhookSecret
      Filters:
      - JsonPath: "$.ref"
        MatchEquals: !Sub "refs/heads/${BranchName}"
      Authentication: GITHUB_HMAC
      TargetPipeline: !Ref Pipeline
      TargetAction: Source
      Name: !Sub "adf-webhook-${ProjectName}"
      TargetPipelineVersion: !GetAtt Pipeline.Version
      RegisterWithThirdParty: 'true'
  BuildProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub "adf-build-${ProjectName}"
      Description: !Sub "CodeBuild Project ${ProjectName} created by ADF"
      EncryptionKey: !ImportValue KMSArn-{{ deployment_account_region }}
      ServiceRole: !ImportValue CodeBuildRoleArn
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        Type: linuxContainer
        ComputeType: !Ref ComputeType
        Image: !Ref Image
        EnvironmentVariables:
          - Name: PYTHONPATH
            Value: './adf-build/shared/python'
          - Name: PROJECT_NAME
            Value: !Ref ProjectName
          - Name: S3_BUCKET_NAME
            Value: !ImportValue S3Bucket-{{ deployment_account_region }}
          - Name: ACCOUNT_ID
            Value: !Ref AWS::AccountId
      Source:
        Type: CODEPIPELINE
      TimeoutInMinutes: 20
      Tags:
        - Key: Name
          Value: !Ref ProjectName
{% if notification_endpoint %}
  PipelineEventRule:
    Type: "AWS::Events::Rule"
    Properties:
      Description: "Trigger notifications based on pipeline state changes"
      EventPattern:
        source:
          - "aws.codepipeline"
        detail-type:
          - "CodePipeline Pipeline Execution State Change"
        detail:
          state:
            - "FAILED"
            - "SUCCEEDED"
          pipeline:
            - !Ref Pipeline
      State: "ENABLED"
      Targets:
        - Arn: !Ref PipelineSNSTopic
          Id: !Sub "${AWS::StackName}-pipeline"
{% if "@" in notification_endpoint %}
          InputTransformer:
            InputTemplate: '"The pipeline <pipeline> from account <account> has <state> at <at>."'
            InputPathsMap:
              pipeline: "$.detail.pipeline"
              state: "$.detail.state"
              at: "$.time"
              account: "$.account"
{% endif %}
  PipelineSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
{% if "@" in notification_endpoint %}
        - Endpoint: !Ref NotificationEndpoint
          Protocol: email
{% else %}
        - Endpoint: !ImportValue SendSlackNotificationLambdaArn
          Protocol: lambda
{% endif %}
  PipelineSNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: !Sub "${AWS::StackName}"
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
              - events.amazonaws.com
              - codecommit.amazonaws.com
              - sns.amazonaws.com
          Action: sns:Publish
          Resource: "*"
      Topics:
      - !Ref PipelineSNSTopic
  LambdaInvokePermission: 
    Type: AWS::Lambda::Permission
    Properties: 
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref PipelineSNSTopic
      FunctionName: 'SendSlackNotification'
{% endif %}
  Pipeline:
    Type: AWS::CodePipeline::Pipeline
    Properties:
      RoleArn: !ImportValue CodePipelineRoleArn
      Name: !Ref AWS::StackName
      RestartExecutionOnUpdate: !Ref RestartExecutionOnUpdate
      Stages:
        - Name: Source-GitHub
          Actions:
            - Name: Source
              ActionTypeId:
                Category: Source
                Owner: ThirdParty
                Version: 1
                Provider: GitHub
              Configuration:
                Owner: !Ref Owner
                Repo: !Ref ProjectName
                Branch: !Ref BranchName
                OAuthToken: !Ref OAuthToken
                PollForSourceChanges: false
              OutputArtifacts: 
                - Name: TemplateSource
              RunOrder: 1
        - Name: Build
          Actions:
          - Name: Build
            ActionTypeId:
              Category: Build
              Owner: AWS
              Version: 1
              Provider: CodeBuild
            Configuration:
              ProjectName: !Sub "adf-build-${ProjectName}"
            RunOrder: 1
            InputArtifacts:
              - Name: TemplateSource
            OutputArtifacts:
              - Name: !Sub "${ProjectName}-build"
{% for target in environments['targets'] %}
{% if target|length > 0 and target[0].get('name') == "approval" %}
        - Name: {{ target[0].get('step_name') or "approval-stage-" ~ loop.index }}
          Actions:
            - Name: {{ target[0].get('step_name') or "Approval"}}
              ActionTypeId:
                Category: Approval
                Owner: AWS
                Version: 1
                Provider: Manual
              Configuration:
                {% if notification_endpoint %}
                NotificationArn: !Ref PipelineSNSTopic
                {% endif %}
                CustomData: !Ref AWS::AccountId
              RunOrder: 1
{% else %}
        - Name: {{ target[0].get('step_name') or "deployment-stage-" ~ loop.index }}
          Actions:
{% for stage in target %}
{% if top_level_regions == [] %}
{% for region in stage.regions %}
{% if action %}
            - Name: {{ stage.name }}-{{ region }}
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Version: 1
                Provider: CloudFormation
              Configuration:
                ActionMode: {{ action }}
                StackName: !Sub "${StackPrefix}-${ProjectName}"
                ChangeSetName: !Sub "${StackPrefix}-${ProjectName}"
{% if contains_transform %}
                TemplatePath: !Sub "${ProjectName}-build::template_{{ region }}.yml"
{% else %}
                TemplatePath: !Sub "${ProjectName}-build::template.yml"
{% endif %}
                TemplateConfiguration: !Sub "${ProjectName}-build::params/{{ stage.name }}_{{ region }}.json"
                Capabilities: CAPABILITY_NAMED_IAM,CAPABILITY_AUTO_EXPAND
                RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-deployment-role"
              InputArtifacts:
                - Name: !Sub "${ProjectName}-build"
              RunOrder: 1
              Region: {{ region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
{% else %}
            - Name: {{ stage.name }}-{{ region }}-replace
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Version: 1
                Provider: CloudFormation
              Configuration:
                ActionMode: CHANGE_SET_REPLACE
                StackName: !Sub "${StackPrefix}-${ProjectName}"
                ChangeSetName: !Sub "${StackPrefix}-${ProjectName}"
{% if contains_transform %}
                TemplatePath: !Sub "${ProjectName}-build::template_{{ region }}.yml"
{% else %}
                TemplatePath: !Sub "${ProjectName}-build::template.yml"
{% endif %}
                TemplateConfiguration: !Sub "${ProjectName}-build::params/{{ stage.name }}_{{ region }}.json"
                Capabilities: CAPABILITY_NAMED_IAM
                RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-deployment-role"
              InputArtifacts:
                - Name: !Sub "${ProjectName}-build"
              RunOrder: 1
              Region: {{ region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
            - Name: {{ stage.name }}-{{ region }}-execute
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Version: 1
                Provider: CloudFormation
              Configuration:
                ChangeSetName: !Sub "${StackPrefix}-${ProjectName}"
                ActionMode: CHANGE_SET_EXECUTE
                StackName: !Sub "${StackPrefix}-${ProjectName}"
                RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-deployment-role"
              RunOrder: 2
              Region: {{ region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
{% endif %}
{% endfor %}
{% else %}
{% for top_level_region in top_level_regions %}
            - Name: {{ stage.name }}-{{ top_level_region }}-replace
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Version: 1
                Provider: CloudFormation
              Configuration:
                ActionMode: CHANGE_SET_REPLACE
                StackName: !Sub "${StackPrefix}-${ProjectName}"
                ChangeSetName: !Sub "${StackPrefix}-${ProjectName}"
{% if contains_transform %}
                TemplatePath: !Sub "${ProjectName}-build::template_{{ region }}.yml"
{% else %}
                TemplatePath: !Sub "${ProjectName}-build::template.yml"
{% endif %}
                TemplateConfiguration: !Sub "${ProjectName}-build::params/{{ stage.name }}_{{ top_level_region }}.json"
                Capabilities: CAPABILITY_NAMED_IAM
                RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-deployment-role"
              InputArtifacts:
                - Name: !Sub "${ProjectName}-build"
              RunOrder: 1
              Region: {{ top_level_region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
            - Name: {{ stage.name }}-{{ top_level_region }}-execute
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Version: 1
                Provider: CloudFormation
              Configuration:
                ChangeSetName: !Sub "${StackPrefix}-${ProjectName}"
                ActionMode: CHANGE_SET_EXECUTE
                StackName: !Sub "${StackPrefix}-${ProjectName}"
                RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-deployment-role"
              RunOrder: 2
              Region: {{ top_level_region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
      ArtifactStores:
{% for region in regions %}
        - Region: {{ region }}
          ArtifactStore:
            EncryptionKey:
              Id: !Ref KMSKey{{ region|replace("-", "") }}
              Type: KMS
            Location: !Ref S3Bucket{{ region|replace("-", "") }}
            Type: S3
{% endfor %}
Outputs:
  PipelineUrl:
    Value: !Sub https://console.aws.amazon.com/codepipeline/home?region=${AWS::Region}#/view/${Pipeline}
