# Install libs here that you might want in AWS CodeBuild (On Master Account)
astroid~=2.9.0
awscli~=1.22.87
boto3==1.21.31
botocore==1.24.32
aws-sam-cli~=1.36
mock~=4.0.3
pip~=21.3.1
pylint~=2.12.2
pytest~=6.2.5
pyyaml>=5.4.1
six~=1.16.0
tenacity==8.0.1
urllib3~=1.26.7