# Install libs here that you might want in AWS CodeBuild (On Master Account)
astroid~=2.9.0
aws-sam-cli~=1.36
awscli==1.22.26
boto3==1.20.26
botocore==1.23.26
mock~=4.0.3
pip~=21.3.1
pylint~=2.12.2
pytest~=6.2.5
pyyaml>=5.4.1
six~=1.16.0
tenacity==8.0.1
urllib3~=1.26.7
