# Install libs here that you might want in AWS CodeBuild (On the management
# account)
astroid==3.3.10
aws-sam-cli==1.142.1
boto3==1.39.3
botocore==1.39.3
pip~=25.1
pyyaml~=6.0.2
six~=1.17.0
tenacity==9.1.2
urllib3~=2.5.0
