# Install libs here that you might want in AWS CodeBuild
aws-cdk-lib==2.79.1
constructs>=10.0.0,<11.0.0
aws-sam-cli==1.83.0
awscli==1.27.133
boto3==1.26.133
botocore==1.29.133
mock~=5.0.1
pytest~=7.2.0
pyyaml~=5.4
schema~=0.7.5
tenacity==8.1.0
typing-extensions~=4.4.0
urllib3~=1.26.14
