# Install libs here that you might want in AWS CodeBuild
aws-cdk-assets~=1.181.1
aws-cdk.aws-apigateway~=1.181.1
aws-cdk.aws-applicationautoscaling~=1.181.1
aws-cdk.aws-autoscaling~=1.181.1
aws-cdk.aws-autoscaling_common~=1.181.1
aws-cdk.aws-autoscaling_hooktargets~=1.181.1
aws-cdk.aws-certificatemanager~=1.181.1
aws-cdk.aws-chatbot~=1.181.1
aws-cdk.aws-cloudformation~=1.181.1
aws-cdk.aws-cloudfront~=1.181.1
aws-cdk.aws-cloudwatch~=1.181.1
aws-cdk.aws-codebuild~=1.181.1
aws-cdk.aws-codecommit~=1.181.1
aws-cdk.aws-codedeploy~=1.181.1
aws-cdk.aws-codepipeline-actions~=1.181.1
aws-cdk.aws-codepipeline~=1.181.1
aws-cdk.aws-dynamodb~=1.181.1
aws-cdk.aws-ec2~=1.181.1
aws-cdk.aws-ecr~=1.181.1
aws-cdk.aws-ecr~=1.181.1
aws-cdk.aws-ecr_assets~=1.181.1
aws-cdk.aws-ecs~=1.181.1
aws-cdk.aws-elasticloadbalancing~=1.181.1
aws-cdk.aws-elasticloadbalancingv2~=1.181.1
aws-cdk.aws-events~=1.181.1
aws-cdk.aws-events_targets~=1.181.1
aws-cdk.aws-iam~=1.181.1
aws-cdk.aws-kinesis~=1.181.1
aws-cdk.aws-kms~=1.181.1
aws-cdk.aws-lambda~=1.181.1
aws-cdk.aws-lambda_event_sources~=1.181.1
aws-cdk.aws-logs~=1.181.1
aws-cdk.aws-route53~=1.181.1
aws-cdk.aws-route53_targets~=1.181.1
aws-cdk.aws-s3~=1.181.1
aws-cdk.aws-s3_assets~=1.181.1
aws-cdk.aws-s3_assets~=1.181.1
aws-cdk.aws-s3_notifications~=1.181.1
aws-cdk.aws-sam~=1.181.1
aws-cdk.aws-secretsmanager~=1.181.1
aws-cdk.aws-servicediscovery~=1.181.1
aws-cdk.aws-sns~=1.181.1
aws-cdk.aws-sns~=1.181.1
aws-cdk.aws-sns_subscriptions~=1.181.1
aws-cdk.aws-sqs~=1.181.1
aws-cdk.aws-ssm~=1.181.1
aws-cdk.aws-stepfunctions~=1.181.1
aws-cdk.core~=1.181.1
aws-cdk.cx-api~=1.181.1
aws-cdk.region-info~=1.181.1
awscli==1.27.23
botocore==1.29.23
boto3==1.26.23
aws-sam-cli==1.66.0
mock~=4.0.3
pytest~=7.2.0
pyyaml~=5.4
schema~=0.7.5
tenacity==8.1.0
urllib3~=1.26.13
