<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sample App</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <h1><span>Welcome to
            <%= region %> in
            <%= environment %></span></h1>
</body>

</html>
