AWSTemplateFormatVersion: '2010-09-09'
Description: ADF CloudFormation Template For CodePipeline - Amazon S3 Source to Amazon S3 Deployment Target
Parameters:
  ProjectName:
    Description: Name of the Project
    Type: String
  StackPrefix:
    Description: Prefix to prepend to the stackname when deployed
    Type: String
    Default: adf
  Image:
    Description: The Image for CodeBuild to use
    Type: String
    Default: "aws/codebuild/python:3.7.1"
  ScheduleExpression:
    Description: The Schedule expression for this pipeline
    Type: String
    Default: ''
  NotificationEndpoint:
    Description: The Email Address / Slack channel notifications will go to for changes related to this pipeline
    Type: String
    Default: ''
  ComputeType:
    Description: The ComputeType for CodeBuild
    Type: String
    Default: "BUILD_GENERAL1_SMALL"
  SourceAccountId:
    Description: The ID of the Source Account that will hold the Source S3 Bucket
    Type: String
  SourceBucket:
    Description: The S3 Bucket within the Source Account.
    Type: String
  RestartExecutionOnUpdate:
    Description: If the pipeline will automatically trigger based on update.
    Type: String
    Default: false
  SourceObjectKey:
    Description: The Source Object Key you wish to deploy into another S3 Bucket.
    Type: String
  CustomBuildRole:
    Description: If you wish to use a custom build role for CodeBuild
    Type: String
    Default: ""
  Extract:
    Description: If you want to extract the artifact in S3 (unzip)
    Type: String
    AllowedValues: [true, false]
    Default: false
  SharedModulesBucket:
    Description: The S3 Bucket that holds shared modules between master and deployment account
    Type: AWS::SSM::Parameter::Value<String>
    Default: deployment_account_bucket
{% for region in regions %}
  S3Bucket{{ region|replace("-", "") }}:
    Description: The S3 Bucket for Cross region deployment for {{ region }}
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cross_region/s3_regional_bucket/{{ region }}
  KMSKey{{ region|replace("-", "") }}:
    Description: The KMSKey Arn for Cross region deployment for {{ region }}
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cross_region/kms_arn/{{ region }}
{% endfor %}
Conditions:
  HasSchedule: !Not [!Equals [!Ref ScheduleExpression, '']]
  HasCustomBuildRole: !Not [!Equals [!Ref CustomBuildRole, '']]
Resources:
{% if completion_trigger.get('pipelines', []) %}
  PipelineTriggerEventRule:
      Type: "AWS::Events::Rule"
      Properties:
        Description: !Sub "Triggers on completion of ${Pipeline}"
        EventPattern:
          source:
            - "aws.codepipeline"
          detail-type:
            - "CodePipeline Pipeline Execution State Change"
          detail:
            state:
              - "SUCCEEDED"
            pipeline:
              - !Ref Pipeline
        State: "ENABLED"
        Targets:
{% for pipeline in completion_trigger.get('pipelines', []) %}
          - Arn: !Sub "arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${StackPrefix}-pipeline-{{pipeline}}"
            RoleArn: !GetAtt PipelineTriggerCloudWatchEventRole.Arn
            Id: !Sub "adf-trigger-{{pipeline}}"
{% endfor %}
  PipelineTriggerCloudWatchEventRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
            Action: "sts:AssumeRole"
      Path: /
      Policies:
        - PolicyName: !Sub 'adf-trigger-${Pipeline}'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
{% for pipeline in completion_trigger.get('pipelines', []) %}
              - Effect: Allow
                Action: codepipeline:StartPipelineExecution
                Resource: !Sub "arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${StackPrefix}-pipeline-{{pipeline}}"
{% endfor %}
{% endif %}
  PipelineCloudWatchEventRole:
    Condition: HasSchedule
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
            Action: "sts:AssumeRole"
      Path: /
      Policies:
        - PolicyName: !Sub 'adf-cron-${Pipeline}'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: codepipeline:StartPipelineExecution
                Resource: !Sub "arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${Pipeline}"
  CronCloudwatchEventsRule:
    Type: "AWS::Events::Rule"
    Condition: HasSchedule
    Properties: 
      Description: !Sub "Triggers ${AWS::StackName} on a Schedule"
      ScheduleExpression: !Ref ScheduleExpression
      Targets:
        - Arn: !Sub "arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${Pipeline}"
          RoleArn: !GetAtt PipelineCloudWatchEventRole.Arn
          Id: !Sub "adf-cron-${AWS::StackName}"
  BuildProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub "adf-build-${ProjectName}"
      Description: !Sub "CodeBuild Project ${ProjectName} created by ADF"
      EncryptionKey: !ImportValue KMSArn-{{ deployment_account_region }}
      ServiceRole: !If [HasCustomBuildRole, !Ref CustomBuildRole, !ImportValue CodeBuildRoleArn]
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        Type: linuxContainer
        ComputeType: !Ref ComputeType
        Image: !Ref Image
        PrivilegedMode: true
        EnvironmentVariables:
          - Name: PYTHONPATH
            Value: './adf-build/python'
          - Name: ADF_PROJECT_NAME
            Value: !Ref ProjectName
          - Name: S3_BUCKET_NAME
            Value: !Ref SharedModulesBucket
          - Name: ACCOUNT_ID
            Value: !Ref AWS::AccountId
      Source: # In this specific pipeline type we can inline the BuildSpec since we're not using Git as the source.
        Type: CODEPIPELINE
        BuildSpec: !Sub |
          version: 0.2 
          phases:
            install:
              runtime-versions: # If you require other runtimes for your jobs you can add them here
                python: 3.7
            build:
              # You will want to insert your custom ETL jobs here in whichever scripts you wish to use
              # These scripts could be bundled with the source, pulled from S3 or written inline.
              commands:
                - bash scripts/some_etl_script.sh
          artifacts: # Depending on what you want to output and pass into the next deployment step.
            files: '**/*'
      TimeoutInMinutes: 20
      Tags:
        - Key: Name
          Value: !Ref ProjectName
{% if notification_endpoint %}
  PipelineEventRule:
    Type: "AWS::Events::Rule"
    Properties:
      Description: "Trigger notifications based on pipeline state changes"
      EventPattern:
        source:
          - "aws.codepipeline"
        detail-type:
          - "CodePipeline Pipeline Execution State Change"
        detail:
          state:
            - "FAILED"
            - "SUCCEEDED"
          pipeline:
            - !Ref Pipeline
      State: "ENABLED"
      Targets:
        - Arn: !Ref PipelineSNSTopic
          Id: !Sub "${AWS::StackName}-pipeline"
{% if "@" in notification_endpoint %}
          InputTransformer:
            InputTemplate: '"The pipeline <pipeline> from account <account> has <state> at <at>."'
            InputPathsMap:
              pipeline: "$.detail.pipeline"
              state: "$.detail.state"
              at: "$.time"
              account: "$.account"
{% endif %}
  PipelineSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
{% if "@" in notification_endpoint %}
        - Endpoint: !Ref NotificationEndpoint
          Protocol: email
{% else %}
        - Endpoint: !ImportValue SendSlackNotificationLambdaArn
          Protocol: lambda
{% endif %}
  PipelineSNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: !Sub "${AWS::StackName}"
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
              - events.amazonaws.com
              - codecommit.amazonaws.com
              - sns.amazonaws.com
          Action: sns:Publish
          Resource: "*"
      Topics:
      - !Ref PipelineSNSTopic
  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties: 
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref PipelineSNSTopic
      FunctionName: 'SendSlackNotification'
{% endif %}
  Pipeline:
    Type: AWS::CodePipeline::Pipeline
    Properties:
      RoleArn: !ImportValue CodePipelineRoleArn
      Name: !Ref AWS::StackName
      RestartExecutionOnUpdate: !Ref RestartExecutionOnUpdate
      Stages:
        - Name: !Sub Source-${SourceAccountId}
          Actions:
            - Name: !Sub "S3-${SourceBucket}"
              ActionTypeId:
                Category: Source
                Owner: AWS
                Version: 1
                Provider: S3
              Configuration:
                S3Bucket: !Ref SourceBucket
                S3ObjectKey: !Ref SourceObjectKey
              OutputArtifacts:
                - Name: TemplateSource
              RunOrder: 1
              RoleArn: !Sub "arn:aws:iam::${SourceAccountId}:role/adf-codecommit-role"
        - Name: Build
          Actions:
          - Name: Build
            ActionTypeId:
              Category: Build
              Owner: AWS
              Version: 1
              Provider: CodeBuild
            Configuration:
              ProjectName: !Sub "adf-build-${ProjectName}"
            RunOrder: 1
            InputArtifacts:
              - Name: TemplateSource
            OutputArtifacts:
              - Name: !Sub "${ProjectName}-build"
{% for target in environments['targets'] %}
{% if target|length > 0 and target[0].get('name') == "approval" %}
        - Name: {{ target[0].get('step_name') or "approval-stage-" ~ loop.index }}
          Actions:
            - Name: {{ target[0].get('step_name') or "Approval"}}
              ActionTypeId:
                Category: Approval
                Owner: AWS
                Version: 1
                Provider: Manual
              Configuration:
                {% if notification_endpoint %}
                NotificationArn: !Ref PipelineSNSTopic
                {% endif %}
                CustomData: !Ref AWS::AccountId
              RunOrder: 1
{% else %}
        - Name: {{ target[0].get('step_name') or "deployment-stage-" ~ loop.index }}
          Actions:
{% for stage in target %}
{% if top_level_regions == [] %}
{% for region in stage.regions %}
            - Name: {{ stage.name }}-{{ region }}
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Provider: S3
                Version: '1'
              RunOrder: 1
              Configuration:
                BucketName: {{ stage.params.get('OutputBucketName')}}
                Extract: !Ref Extract
                ObjectKey: {{ stage.params.get('OutputObjectKey')}}
              InputArtifacts:
              - Name: !Sub "${ProjectName}-build"
              Region: {{ region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
{% endfor %}
{% else %}
{% for top_level_region in top_level_regions %}
            - Name: {{ stage.name }}-{{ region }}
              ActionTypeId:
                Category: Deploy
                Owner: AWS
                Provider: S3
                Version: '1'
              RunOrder: 1
              Configuration:
                BucketName: {{ stage.params.get('OutputBucketName')}}
                Extract: !Ref Extract
                ObjectKey: {{ stage.params.get('OutputObjectKey')}}
              InputArtifacts:
              - Name: "${ProjectName}-build"
              Region: {{ top_level_region }}
              RoleArn: "arn:aws:iam::{{ stage.id }}:role/adf-cloudformation-role"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
      ArtifactStores:
{% for region in regions %}
        - Region: {{ region }}
          ArtifactStore:
            EncryptionKey:
              Id: !Ref KMSKey{{ region|replace("-", "") }}
              Type: KMS
            Location: !Ref S3Bucket{{ region|replace("-", "") }}
            Type: S3
{% endfor %}
Outputs:
  PipelineUrl:
    Value: !Sub https://console.aws.amazon.com/codepipeline/home?region=${AWS::Region}#/view/${Pipeline}